<ng-template #noProduct>
    <h2>No Product to Display</h2>
</ng-template>
<div class="row">
    <div class="col-"></div>
    <div class="col-lg">
        <div class="container my-5" *ngIf="product;else noProduct">
            <div class="row">
                <div class="col ml-5 my-5" id="image">
                    <img class="shadow-lg p-3 mb-5 bg-white rounded" src="{{product.imageUrl}}" height=500 width=500
                        alt="">
                </div>
                <div class="col my-5" id="details">
                    <p>
                        <br>
                    <h3>{{product.title}} - {{product.platform}}</h3>

                    <p>
                        <br>
                    <h5>Price: ${{product.price}}</h5>
                    <br><br>

                    <button class="btn btn-outline-primary">Add To Cart</button><br><hr>
                    <div class="container" id="description" (click)="expanded=!expanded">
                        <h5><u>Product Description</u></h5>
                    </div>
                    <div class="container content" *ngIf="expanded">
                        {{description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-"></div>
</div>