// Working on some indicators to show customers which product their cursor is on
.card {
  &:hover {
    // transition-timing-function: ease-in-out;
    // transition: 0.25s;
    // margin: 25px;
    background-color: #0a1d2f;
  }
}

h3,
label {
  color: #0a1d2f;
}

#login-page {
  overflow-y: scroll;
}

button,
select,
option,
h5 {
  background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

body {
  background: hsl(204 100% 5%);

  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui;
  font-size: min(200%, 5vmin);
}

h1,
p,
body {
  margin: 0;
}

p {
  font-family: "Dank Mono", ui-monospace, monospace;
}

html {
  block-size: 100%;
  inline-size: 100%;
}
