<nav class="navbar navbar-expand-lg navbar-light pc-bg-light">
    <a routerLink="/products" routerLinkActive="active" class="navbar-brand"><h4>NOVA</h4></a>


    <form autocomplete="off" [formGroup]='searchForm' action="" class="form-inline my-2 mylg-0">
        
        <input id='search' formControlName='search' type="text" class="form-control mr-sm-2" placeholder="Search" aria-label="Search" (click)='toggleSearchOn()'>
        <button class="btn btn-outline-primary my-2 my-sm-0" (click)="searchFor('a')">
            <!-- This shows the search icon next to the input; The icon needs to be imported
            into the typescript file -->
            <fa-icon [icon]="faSearch"> 
            </fa-icon>
        </button>
        
        <button class="btn btn-warning" *ngIf='showDropDown'(click)='toggleSearchOff()'>X</button>
        
        <div *ngIf='showDropDown' class="searchDropdown">
            <div>
                <div (click)='selectValue(s)' class ='searchObj' *ngFor='let s of products | searchFilter: getSearchValue()'>
                {{s.title}}
                </div>
            </div>
        </div>
    </form>
</nav>

