<nav class="navbar navbar-expand-lg navbar-light pc-bg-light">
    <a href="" class="navbar-brand">NOVA</a>


    <form autocomplete="off" [formGroup]='searchForm' action="" class="form-inline my-2 mylg-0">
        
        <input id='search' formControlName='search' type="text" class="form-control mr-sm-2" placeholder="Search" aria-label="Search" (click)='toggleSearchOn()' (keyup)='toggleSearchOn()' (blur)='toggleSearchOff()'>

        <button class="btn btn-outline-primary my-2 my-sm-0" (click)="searchFor('a')">
            <!-- This shows the search icon next to the input; The icon needs to be imported
            into the typescript file -->
            <fa-icon [icon]="faSearch" >
            </fa-icon>
        </button>

        <div *ngIf='showDropDown' class="searchDropdown">
            <div>
                <div (click)='selectValue(s)' class ='searchObj' *ngFor='let s of productNames | searchFilter: getSearchValue()'>
                {{s}}
                </div>
            </div>
        </div>
    </form>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"
    [ngClass]="{ 'show': navbarOpen }">
      <div class = "navbar-nav" routerLinkActive="active current">
        <a class="nav-link active med-btn" routerLink ="login">Log In</a>
        <a class="nav-link active med-btn" routerLink="register">Register</a>
        <a class="nav-link active med-btn" routerLink="./userProfile">User Profile</a>
        <a class="nav-link active med-btn" routerLink="/">Sign Out</a>
     </div>
  </div>
</nav>

