.searchDropdown {
  top: 3.55em;
  position: absolute;
  z-index: 1;
  width: 13em;
  height: 8em;
  background: black;
  overflow-y: auto;
}

.searchObj {
  padding: 10px;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
}

.searchObj:hover {
  cursor: pointer;
}

button.btn.delete {
  background-color: #fcb414;
  color: #ffffff;
}

nav {
  background-color: #0a1d2f;
}

article,
a,
div {
  background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

h4 {
  font-size: 5vmin;
  line-height: 1.1;
}

body {
  background: hsl(204 100% 5%);

  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui;
  font-size: min(200%, 5vmin);
}

h1,
p,
body {
  margin: 0;
}

p {
  font-family: "Dank Mono", ui-monospace, monospace;
}

html {
  block-size: 100%;
  inline-size: 100%;
}
