.searchDropdown {
  top: 3.55em;
  position: absolute;
  z-index: 1;
  width: 13em;
  height: 8em;
  background: #f6f6f6;
  overflow-y: auto;
}

.searchObj {
  padding: 10px;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
}

.searchObj:hover {
  background: #c2c2c2;
}

button.btn.delete {
    background-color: #FCB414;
    color:#FFFFFF;
}

button.btn.btn-warning{
    border: none;
}


nav {
  background-color: #0a1d2f;
}

// h4,
// a {
//   text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
//     0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
//     0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
//     0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
//     0 20px 20px rgba(0, 0, 0, 0.15);
// }

article,
a,
div {
  background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

h4 {
  font-size: 5vmin;
  line-height: 1.1;
}

body {
  background: hsl(204 100% 5%);

  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui;
  font-size: min(200%, 5vmin);
}

h1,
p,
body {
  margin: 0;
}

p {
  font-family: "Dank Mono", ui-monospace, monospace;
}

html {
  block-size: 100%;
  inline-size: 100%;
}
