input#password {
  width: 50%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

input#username {
  width: 50%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.title{
  color:#FFFFFF;
  position: relative;
  top: 55px;
}

div.container{
  position: relative;
  top:60px;
}

.linkContainer { 
  position: relative;
  top:6px;
}