<div class="text-center mt-5">
  <form [formGroup]="loginForm" (submit)="submit()">
    <h2 class="title">Please Sign In</h2>

    <div class = "container">

    <div class='mb-3' id = 'username'>
    <input
      type="text"
      formControlName="username"
      class="form-control"
      id="username"
      placeholder="Username"
    />
    </div>
    <div class='mb-3' id = 'password'>
    <input
      type="password"
      formControlName="password"
      class="form-control"
      id="password"
      placeholder="Password"
    />
  </div>
    <button class="btn btn-primary" type="submit">Sign in</button>
    <div class = "linkContainer">
      <a routerLink="/register">Don't have an account? Sign Up</a>
    </div>
  </div>
  </form>
</div>
