input#password {
  width: 50%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

input#username {
  width: 50%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}


article,
a,
h2,
input,
div,
button {
  background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

h4 {
  font-size: 5vmin;
  line-height: 1.1;
}

body {
  background: hsl(204 100% 5%);

  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui;
  font-size: min(200%, 5vmin);
}

h1,
p,
body {
  margin: 0;
}

p {
  font-family: "Dank Mono", ui-monospace, monospace;
}

html {
  block-size: 100%;
  inline-size: 100%;

}
