<div id= "login-page" style="height:100vh; top:0px; position:fixed; width: 100%;">
  <div class="text-center mt-5">


    <h1 class="text-light" id = "title">Welcome to Nova</h1>
    <div class = "entireField">
      <form [formGroup]="loginForm" (submit)="submit()">
        <h3 class="h3 mb-3 fw-normal text-light">Please Sign In</h3>


        <input type="text" formControlName="username" class="form-control" id="username" placeholder="Username">


        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password">

        <button class="btn btn-primary " id="signbtn" type="submit">Sign in</button>
      </form>
      <div class="text-center">
        <button class="btn btn-primary " id = "registerbtn" routerLink="../register">Register</button>
      </div>
    </div>
  </div>
</div>
