.pc-text-light {
    color: #fff;
  }
  .pc-text-dark {
    color: #474c55;
  }
  .pc-text-orange {
    color: #f26925;
  }
  .pc-bg-light {
    background-color: #fff;
  }
  .pc-bg-dark {
    background-color: #474c55;
  }
  .pc-bg-orange {
    background-color: #f26925;
  }
  
  .sc-text-yellow {
    color: #fcb414;
  }
  .sc-text-blue {
    color: #72a4c2;
  }
  .sc-text-light-gray {
    color: #b9b9ba;
  }
  
  .sc-bg-yellow {
    background-color: #fcb414;
  }
  .sc-bg-blue {
    background-color: #72a4c2;
  }
  .sc-bg-light-gray {
    background-color: #b9b9ba;
  }
  html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #1f2833;
}

  