

input#username {
  width: 50%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

input#email {
  width: 50%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

input#state {
  width: 50%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

input#favoriteGenre {
  width: 50%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

input#message {
  width: 50%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
  