input {
  width: 50%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

// input#username {
//   width: 50%;
//   max-width: 330px;
//   padding: 15px;
//   margin: auto;
// }

// input#state {
//   width: 50%;
//   max-width: 330px;
//   padding: 15px;
//   margin: auto;
// }
