// TODO: Centered card styling

div.userIcon{
  position: relative;
  top: 5px;
  font-size: 100px;
  color: rgb(45, 45, 124);
}

article,
a,
h2,
input,
div,
button,
#user-page {
  background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  -webkit-text-decoration-color: #FFFFFF;
  text-align: center;
}

h4 {
  font-size: 5vmin;
  line-height: 1.1;
}

body {
  background: hsl(204 100% 5%);

  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui;
  font-size: min(200%, 5vmin);
}

h1,
p,
body {
  margin: 0;
}

p {
  font-family: "Dank Mono", ui-monospace, monospace;
  font-size: 20px;
  text-align: left;
  padding-right: 215px;
  padding-top: 15px;
}

html {
  block-size: 100%;
  inline-size: 100%;
}

.container {
  display: inline-block;
  border-radius: 10px;
  box-sizing: content-box;
  block-size: fit-content;
  width: fit-content;
}

.inputFields{
  position: relative;
  top: 20px;
}

.card{
  text-align: left;
  margin: 15px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 150px;
  background: rgba(161, 187, 183, 0.85);
  -webkit-text-fill-color: #11304f;
}
