<app-navbar></app-navbar>
<div class="text-center mt-5" >
  <form [formGroup]="form" (submit)="submit()">
    <h1>Type in your information</h1>
    <input formControlName="username" class="form-Control" id="floatingInput" placeholder="Username"><br>
    <input formControlName="email" class="form-Control" id="floatingInput" placeholder="Email"><br>
    <input formControlName="state" class="form-Control" id="floatingInput" placeholder="State"><br>
    <input formControlName="favoriteGenre" class="form-Control" id="floatingInput" placeholder="Favorite Genre"><br>
    <input formControlName="message" class="form-Control" id="floatingInput" placeholder="Tell us about yourself">
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
</form>
</div>