<div class="row">
    <div class="col sc-bg-blue" style="height: 200px">
        <!-- PUT A COMPONENT HERE -->  LEFT
        <!--<div *NgFor ="Let game of gameSearchResults"></div>
        -->
        <!-- Write logic for how to diplay each game -->
    </div>
    <div class="col pc-bg-dark text-light" style="height: 200px">
        <!-- PUT A COMPONENT HERE -->Right Column
    </div>
</div>

<!-- <div class="row">
    <div class="col pc-bg-dark text-light" style="height: 200px">
        Left Column
    </div>
    <div class="col sc-bg-blue" style="height: 200px">
        Right Column
    </div>
</div>

<div class="row">
    <div class="col sc-bg-blue" style="height: 200px">
        Left Column
    </div>
    <div class="col pc-bg-dark pc-text-light" style="height: 200px">
        Right Column
    </div>
</div>

<div class="row">
    <div class="col pc-bg-dark pc-text-light" style="height: 200px">
        Left Column
    </div>
    <div class="col sc-bg-blue" style="height: 200px">
        Right Column
    </div>
</div> -->
