input#username{
  position: relative;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

input#email {
  position: relative;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

input#state {
  position: relative;
  top: 8px;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

input#favoriteGenre {
  position: relative;
  top: 16px;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

input#message {
  position: relative;
  top: 24px;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.inputFields{
  position: relative;
  top: 20px;
}

div.userIcon{
  position: relative;
  top: 5px;
  font-size: 50px;
  color: rgb(45, 45, 124);
}

button.btn.btn-primary{
  position: relative;
  top: 55px;
}

article,
a,
h2,
input,
div,
button,
#user-info {
  background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

h4 {
  font-size: 5vmin;
  line-height: 1.1;
}

body {
  background: hsl(204 100% 5%);

  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui;
  font-size: min(200%, 5vmin);
}

h1,
p,
body {
  margin: 0;
}

p {
  font-family: "Dank Mono", ui-monospace, monospace;
}

html {
  block-size: 100%;
  inline-size: 100%;
}

.container {
  display: inline-block;
  border-radius: 10px;
  box-sizing: content-box;
  block-size: fit-content;
  width: fit-content;
}

.button-class {
  margin-bottom: 10px;
}

#user-info {
  position: relative;
  right: 100px;
  border: white;
}
