<!--suppress XmlDuplicatedId -->
<form [formGroup]="registerForm" (submit)="submit()">
  <h1 class="h3 mb-3 fw-normal">Please Register</h1>
  <input type = "text" formControlName = "firstName" class="form-control" id="floatingPassword"
         placeholder="First Name" required>

  <input formControlName = "lastName" class="form-control" id="floatingPassword"
         placeholder="Last Name" required>

  <input formControlName = "username" class="form-control" id="floatingInput"
         placeholder="Username" required>

  <input type="email" formControlName = "email" class="form-control" id="floatingInput"
         placeholder="Email" required>

  <input formControlName = "password" class="form-control" id="floatingPassword"
         placeholder="Password" required>

  <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
</form>

<div class="mat-dialog-container">

</div>
