input#firstName {
  width: 50%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

input#lastName {
  width: 50%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

input#username {
  width: 50%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

input#email {
  width: 50%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

input#password {
  width: 50%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

html,
body {
  width: 100%;
  height: 100%;
}

#register-page {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
